<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    {% if s_id == None %}
    <nav>
        <ul name="skills" class="skills">
            <label class="title" >My skills: </label>
            {% for s_id, (name,desc) in my_skills.items() %}
            <li>
                <a href="{{ url_for('skills', s_id=s_id) }}">{{ name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% else %}
    <h1 class="title">{{ my_skills.get(s_id)[0] }}</h1>
    <p class="skill-desc">{{ my_skills.get(s_id)[1] }}</p>
    {% endif %}

    {% endblock %}
</body>

</html>
