body {
    background-color: #181A1B;
    padding: 1rem;
    color: white;
}

.links {
  display: flex;
  justify-content: center
}

.links > li {
  list-style: none;
  margin: 3vh;
}

.links > li > a {
  text-decoration: none;
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1E2021;
  color: white;
  text-align: center;
  padding: 10px;
}

.skills > li {
  list-style: upper-roman;
}
